body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deleteCross {
    
}

ul {
   
    padding-inline-start: 0px;
}

span {
    margin-right: 20px;
}

.bookLi {
display: flex;
background-color: lightgray;
padding: 5px;
}

.title {
    font-weight: 600;
}